@font-face {
    font-family: 'Tanker-Regular';
    src: url('../fonts/Tanker-Regular.ttf') format('truetype');
    font-weight: 400;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: 'Alpino';
    src: url('../fonts/Alpino-Thin.ttf') format('truetype');
    font-weight: 100;
    font-display: swap;
    font-style: normal;
}


@font-face {
    font-family: 'Alpino';
    src: url('../fonts/Alpino-Light.ttf') format('truetype');
    font-weight: 300;
    font-display: swap;
    font-style: normal;
}


@font-face {
    font-family: 'Alpino';
    src: url('../fonts/Alpino-Regular.ttf') format('truetype');
    font-weight: 400;
    font-display: swap;
    font-style: normal;
}


@font-face {
    font-family: 'Alpino';
    src: url('../fonts/Alpino-Medium.ttf') format('truetype');
    font-weight: 500;
    font-display: swap;
    font-style: normal;
}


@font-face {
    font-family: 'Alpino';
    src: url('../fonts/Alpino-Bold.ttf') format('truetype');
    font-weight: 700;
    font-display: swap;
    font-style: normal;
}


@font-face {
    font-family: 'Alpino';
    src: url('../fonts/Alpino-Black.ttf') format('truetype');
    font-weight: 900;
    font-display: swap;
    font-style: normal;
}
body{
    margin: 0;
}
.main-content-part{
    background: url(.png), radial-gradient(98.81% 79.15% at 98.81% 49.96%, #160019 0%, #200923 100%, #200923 100%);
   
}
.header-content {
    display: flex;
    flex-direction: column;
    margin-top: 100px;
}

.header-content .logo-part {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
}

.header-content .logo-part h3 {
    font-family: 'Tanker-Regular';
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 23px;
    color: #FFF;
}

.header-content .heading-part {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 25px 0;
    gap: 15px;
}

.header-content .heading-part h1 {
    font-family: 'Tanker-Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 70px;
    line-height: 110%;
    color: #FFF;
    margin: 0;
}

.header-content .heading-part p {
    font-family: 'Alpino';
    font-style: normal;
    font-weight: 300;
    font-size: 26px;
    line-height: 30px;
    color: #FFFFFF;
    margin: 0;
}

.header-content .heading-part p span.violet {
    color: #7a4bd7;
}

.header-content .heading-part p span.gradiant {
    background-color: #8f61cc;
    background-image: linear-gradient(#8f61cc, #b387bb);
    background-size: 100%;
    background-repeat: no-repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
}

.header-content .heading-part p span.light-gradiant {
    background-color: #8f61cc;
    background-image: linear-gradient(#c095b5, #d9b0a9);
    background-size: 100%;
    background-repeat: no-repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
}

.header-content .download-app {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 15px;
}

.header-content .download-app .mobile-badges {
    display: flex;
    text-decoration: none;
    padding: 10px 18px;
    background: #0C0D10;
    mix-blend-mode: normal;
    border-radius: 7px;
    color: #FFF;
    gap: 10px;
    cursor: pointer;
}

.header-content .download-app .mobile-badges .icon-part {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-content .download-app .mobile-badges .icon-part img {
    width: 27px;
    height: 30px;
}

.header-content .download-app .mobile-badges .content-part {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.header-content .download-app .mobile-badges .content-part p {
    margin: 0;
    font-family: 'alpino';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #FFFFFF;
}

.header-content .download-app .mobile-badges .content-part h6 {
    font-family: 'alpino';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 30px;
    color: #FFFFFF;
    margin: 0;
}

.header-content .download-app .mobile-badges:hover{
    background-color: #0C0D10;
}

.main-part{
    display: flex;
    justify-content: center;
    grid-gap: 90px;
    width: 60%;
    margin: auto;
    padding: 65px 10px;
}
.application-part .card-part .card{
    background: url(.png), radial-gradient(98.81% 79.15% at 98.81% 49.96%, #160019 0%, #200923 100%, #200923 100%);
    box-shadow: -3px 11px 41px rgba(159, 159, 159, 0.15);
    backdrop-filter: blur(6.5px);
    border-radius: 20px;
    padding: 48px 70px 70px;
    position: relative;
    display: flex;
    justify-content: center;
    overflow: hidden;
    margin-bottom: 68px;
    /* border: 1px solid #d9d9d921; */
}
.application-part .card-part .card::before{
    position: absolute;
    content: "";
    background: url(.png), radial-gradient(98.81% 79.15% at 98.81% 49.96%, #47384B 0%, #332137 100%);
    mix-blend-mode: normal;
    opacity: 0.5;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 20px;
    z-index: -1;
}
.application-part .card-part .card::after{
    position: absolute;
    content: "";
    background: url(.png), radial-gradient(98.81% 79.15% at 98.81% 49.96%, #47384B 0%, #332137 100%);
    mix-blend-mode: overlay;
    opacity: 0.6;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 20px;
}
.card .image-part{
    text-align: center;
}
.card .info-part{
    font-family: 'Tanker-Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #FFFFFF;
    text-transform: uppercase;
    margin-top: 28px;
}
.card .info-part.long-info{
    font-family: 'Alpino';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    color: #FFFFFF;
    text-transform: none;
    margin-top: 28px !important;
    margin: auto;
}
.card .info-part p{
    margin: 0;
}
.down-arrow{
    position: absolute;
    bottom: -20px;
    height: 40px;
    width: 40px;
    /* background-color: red; */
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    /* border: 1px solid #d9d9d942; */
    background: url(.png), radial-gradient(239.81% 79.15% at 98.81% 49.96%, #47384b5c 0%, #33213726 100%);
    mix-blend-mode: normal;
    z-index: 2;
}
.down-arrow button{
    background-color: transparent;
    border: 0;
    padding-top: 6px;
}
.down-arrow button img{
    width: 85%;
}


/* footer part */
.social-media-part{
    display: flex;
    align-items: center;
    grid-gap: 7px;
}
.footer-content{
    background: linear-gradient(129.48deg, rgba(255, 255, 255, 0.078) 1.91%, rgba(255, 255, 255, 0.426) 68.31%);
    mix-blend-mode: normal;
    backdrop-filter: blur(131.633px);
    border-radius: 6px;
    padding: 6px;
    width: fit-content;
}
.social-media-part .social{
    height: 20px;
    width: 20px;
    background: url(.png), radial-gradient(98.81% 79.15% at 98.81% 49.96%, #47384B 0%, #332137 100%);
    box-shadow: 0px 16.02px 32.04px rgba(0, 0, 0, 0.28);
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6px;
}

.main-part .content-part{
    position: fixed;
    left: 25%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    top: 0;
    width: 20%;
}
.main-part .application-part{
    width: 30%;
    margin-left: 20%;
}

@media screen and (max-width: 1440px) {
    .main-part .application-part {
        margin-left: 40%;
        width: 40%;
    }
    .main-part .content-part {
        width: 25%;
    }
    .header-content{
        margin-top: 70px;
    }
    .main-part .content-part{
        left: 20%;
    }
}

@media screen and (max-width: 1280px) {
    .main-part{
        width: 80%;
    }
    .main-part .application-part {
        margin-left: 40%;
        width: 30%;
    }

    .header-content .heading-part h1 {
        font-size: 50px;
    }

    .header-content .download-app a img{
        width: 120px;
    }

    .card .info-part.long-info{
        font-size: 17px;
    }
}

@media screen and (max-width: 1024px) {
    .application-part .card-part .card {
        width: 80%;
    }
    .main-part .application-part {
        margin-left: 28%;
    }
    .footer-content{
        margin-top: 3rem;
    }
}

@media screen and (max-width: 991px) {
    .header-content .download-app a img{
        width: 100px;
    }

    .header-content .heading-part p{
        font-size: 18px;
    }
    .main-part .content-part {
        width: 30%;
    }
}

@media screen and (max-width: 767px) {
    .main-part{
        width: 90%;
        flex-wrap: wrap;
    }
    .main-part .content-part{
        position: unset;
        width: 100%;
        align-items: center;
        height: auto;
    }
    .main-part .content-part .header-content {
        margin-bottom: 80px;
    }
    .main-part .application-part{
        margin-left: -8%;
        width: auto;
    }
    .header-content .heading-part h1 {
        font-size: 70px;
        line-height: 110%;
    }
    .header-content .download-app a img{
        width: 100%;
    }
    .header-content .heading-part p{
        font-size: 26px;
    }
    .main-part{
        position: relative;
    }
    .footer-content{
        position: absolute;
        bottom: 20px;
    }
}

@media screen and (max-width: 500px) {
    .main-part{
        width: 100%;
        padding: 0;
        overflow: hidden;
    }
    .main-part .application-part{
        margin: 0;
        width: 100%;
    }
    .header-content{
        margin-top: 50px;
    }
    .application-part .card-part .card{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 48px 0;
    }
    .application-part .card-part .card,
    .application-part .card-part .card::before,
    .application-part .card-part .card::after{
        border-radius: 0;
    }
    .footer-content{
        bottom: 10px;
    }
    
}

@media screen and (max-width: 340px) {
    .header-content {
        padding: 0 20px;
    }
    .header-content .heading-part h1{
        font-size: 65px;
    }
    .header-content .heading-part p{
        font-size: 22px;
    }
}